/* Document
 * ========================================================================== */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in
 *    IE on Windows Phone and in iOS.
 */
html {
  line-height: 1.15; /* 1 */
  -ms-text-size-adjust: 100%; /* 2 */
  -webkit-text-size-adjust: 100%; /* 2 */
}
/* Sections
 * ========================================================================== */
/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Edge, Firefox, and Safari.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}
/* Grouping content
 * ========================================================================== */
/**
 * Remove the margin on nested lists in Chrome, Edge, IE, and Safari.
 */
dl dl,
dl ol,
dl ul,
ol dl,
ul dl {
  margin: 0;
}
/**
 * Remove the margin on nested lists in Edge 18- and IE.
 */
ol ol,
ol ul,
ul ol,
ul ul {
  margin: 0;
}
/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge 18- and IE.
 */
hr {
  box-sizing: content-box; /* 1 */
  height: 0; /* 1 */
  overflow: visible; /* 2 */
}
/**
 * Add the correct display in IE.
 */
main {
  display: block;
}
/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace; /* 1 */
  font-size: 1em; /* 2 */
}
/* Text-level semantics
 * ========================================================================== */
/**
 * Add the correct text decoration in Edge 18-, IE, and Safari.
 */
abbr[title] {
  text-decoration: underline;
  text-decoration: underline dotted;
}
/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder;
}
/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace; /* 1 */
  font-size: 1em; /* 2 */
}
/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%;
}
/* Embedded content
 * ========================================================================== */
/**
 * Hide the overflow in IE.
 */
svg:not(:root) {
  overflow: hidden;
}
/* Forms
 * ========================================================================== */
/**
 * Remove the margin on controls in Safari.
 */
button,
input,
select {
  margin: 0;
}
/**
 * 1. Show the overflow in IE.
 * 2. Remove the inheritance of text transform in Edge 18-, Firefox, and IE.
 */
button {
  overflow: visible; /* 1 */
  text-transform: none; /* 2 */
}
/**
 * Correct the inability to style buttons in iOS and Safari.
 */
button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}
/**
 * Correct the padding in Firefox.
 */
fieldset {
  padding: 0.35em 0.75em 0.625em;
}
/**
 * Show the overflow in Edge 18- and IE.
 */
input {
  overflow: visible;
}
/**
 * 1. Correct the text wrapping in Edge 18- and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 */
legend {
  box-sizing: border-box; /* 1 */
  color: inherit; /* 2 */
  display: table; /* 1 */
  max-width: 100%; /* 1 */
  white-space: normal; /* 1 */
}
/**
 * 1. Add the correct display in Edge 18- and IE.
 * 2. Add the correct vertical alignment in Chrome, Edge, and Firefox.
 */
progress {
  display: inline-block; /* 1 */
  vertical-align: baseline; /* 2 */
}
/**
 * Remove the inheritance of text transform in Firefox.
 */
select {
  text-transform: none;
}
/**
 * 1. Remove the margin in Firefox and Safari.
 * 2. Remove the default vertical scrollbar in IE.
 */
textarea {
  margin: 0; /* 1 */
  overflow: auto; /* 2 */
}
/**
 * 1. Correct the odd appearance in Chrome, Edge, and Safari.
 * 2. Correct the outline style in Safari.
 */
[type="search"] {
  -webkit-appearance: textfield; /* 1 */
  outline-offset: -2px; /* 2 */
}
/**
 * Correct the cursor style of increment and decrement buttons in Safari.
 */
::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
  height: auto;
}
/**
 * Correct the text style of placeholders in Chrome, Edge, and Safari.
 */
::-webkit-input-placeholder {
  color: inherit;
  opacity: 0.54;
}
/**
 * Remove the inner padding in Chrome, Edge, and Safari on macOS.
 */
::-webkit-search-decoration {
  -webkit-appearance: none;
}
/**
 * 1. Correct the inability to style upload buttons in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button; /* 1 */
  font: inherit; /* 2 */
}
/**
 * Remove the inner border and padding of focus outlines in Firefox.
 */
::-moz-focus-inner {
  border-style: none;
  padding: 0;
}
/**
 * Restore the focus outline styles unset by the previous rule in Firefox.
 */
:-moz-focusring {
  outline: 1px dotted ButtonText;
}
/**
 * Remove the additional :invalid styles in Firefox.
 */
:-moz-ui-invalid {
  box-shadow: none;
}
/* Interactive
 * ========================================================================== */
/*
 * Add the correct display in Edge 18- and IE.
 */
details {
  display: block;
}
/*
 * Add the correct styles in Edge 18-, IE, and Safari.
 */
dialog {
  background-color: white;
  border: solid;
  color: black;
  display: block;
  height: -moz-fit-content;
  height: -webkit-fit-content;
  height: fit-content;
  left: 0;
  margin: auto;
  padding: 1em;
  position: absolute;
  right: 0;
  width: -moz-fit-content;
  width: -webkit-fit-content;
  width: fit-content;
}
dialog:not([open]) {
  display: none;
}
/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item;
}
/* Scripting
 * ========================================================================== */
/**
 * Add the correct display in IE.
 */
template {
  display: none;
}
/* User interaction
 * ========================================================================== */
/* Settings */
/* Text Variables */
:root {
	--font-sans-serif: sans-serif;
	--font-serif: serif;
	--font-monospace: monospace;
	--font-size-base: 1rem;
	--line-height-base: 1.35;
	--font-size-h1: 2rem;
	--font-size-h2: 1.75rem;
	--font-size-h3: 1.5rem;
	--font-size-h4: 1.25rem;
	--font-size-h5: var(--font-size-base);
	--font-size-h6: 0.75rem;
}
/* Color Variables */
:root {
	--color-base: #333;
	--color-primary: #fff;
	--color-secondary: #000;
	--color-action: #ef4c23;
}
/* Variables */
:root {
	--shell-width: 75rem;
}
/* Transition Variables */
:root {
	--timing: 0.4s;
	--easing: ease-in-out;
}
/* Tools */
/* Flexbox Mixins */
/* prettier-ignore */
/* prettier-ignore */
/* prettier-ignore */
/* Mixin for centering elements with known dimensions (or images) */
/* prettier-ignore */
/* Custom Media Queries */
/* prettier-ignore */
/*
Chevron Mixin
@usage: @mixin chevron 2rem, 0 0 1px 1px, $color-secondary, -5px 0 0 0.5em, -135deg;
*/
/* prettier-ignore */
/* Generic */
/* Reset */
*,
*::before,
*::after {
	box-sizing: inherit;
}
html {
	box-sizing: border-box;
}
body {
	margin: 0;
	-webkit-text-decoration-skip: ink;
	        text-decoration-skip-ink: auto;
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;
	-webkit-text-size-adjust: none;
	   -moz-text-size-adjust: none;
	    -ms-text-size-adjust: none;
	        text-size-adjust: none;
	text-rendering: optimizeLegibility;
}
nav ul,
	nav ol {
		padding: 0;
		margin: 0;
		list-style: none outside none;
	}
table {
	width: 100%;
	border-collapse: collapse;
	border-spacing: 0;
}
img,
iframe,
video,
audio,
object {
	max-width: 100%;
}
img,
iframe {
	border: 0 none;
}
img {
	height: auto;
	display: inline-block;
	vertical-align: middle;
}
svg:not(:root) {
	overflow: hidden;
}
figure {
	margin: 0;
}
/* Form Elements */
fieldset {
	padding: 0;
}
button,
input[type='submit'],
input[type='button'],
input[type='reset'],
input[type='file'],
input[type='image'],
label[for] {
	cursor: pointer;
}
button[disabled],
input[disabled],
textarea[disabled],
select[disabled] {
	cursor: default;
}
input[type='text'],
input[type='password'],
input[type='date'],
input[type='datetime'],
input[type='datetime-local'],
input[type='month'],
input[type='week'],
input[type='email'],
input[type='number'],
input[type='search'],
input[type='tel'],
input[type='time'],
input[type='url'],
input[type='color'],
textarea {
	-webkit-appearance: none;
	   -moz-appearance: none;
	        appearance: none;
}
input[type='search']::-webkit-search-cancel-button,
input[type='search']::-webkit-search-decoration {
	-webkit-appearance: none;
	        appearance: none;
}
textarea {
	overflow: auto;
	-webkit-overflow-scrolling: touch;
}
button,
input,
optgroup,
select,
textarea {
	font-family: inherit;
	font-size: inherit;
	color: inherit;
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;
	text-rendering: optimizeLegibility;
}
button,
select {
	text-transform: none;
}
button::-moz-focus-inner,
input::-moz-focus-inner {
	padding: 0;
	border: 0;
}
input::-moz-placeholder {
	color: inherit;
	opacity: 1;
}
input:-ms-input-placeholder {
	color: inherit;
	opacity: 1;
}
input::-ms-input-placeholder {
	color: inherit;
	opacity: 1;
}
input::placeholder {
	color: inherit;
	opacity: 1;
}
textarea::-moz-placeholder {
	color: inherit;
	opacity: 1;
}
textarea:-ms-input-placeholder {
	color: inherit;
	opacity: 1;
}
textarea::-ms-input-placeholder {
	color: inherit;
	opacity: 1;
}
textarea::placeholder {
	color: inherit;
	opacity: 1;
}
input:-webkit-autofill {
	-webkit-text-fill-color: inherit;
	box-shadow: 0 0 0 62.5rem #fff inset;
	box-shadow: 0 0 0 62.5rem var(--color-primary) inset;
}
/* Transitions */
a,
a img,
input,
button,
select,
textarea,
.c-btn,
[class^='svg-'] {
	/* prettier-ignore */
	transition-property: color, opacity, border-color, background-color, box-shadow, fill, stroke;
	transition-duration: 0.4s;
	transition-duration: var(--timing);
	transition-timing-function: ease-in-out;
	transition-timing-function: var(--easing);
}
/* Elements */
/* Document */
html {
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
body {
	font-family: sans-serif;
	font-family: var(--font-sans-serif);
	font-size: 1rem;
	font-size: var(--font-size-base);
	line-height: 1.35;
	line-height: var(--line-height-base);
	color: #000;
	color: var(--color-secondary);
	min-width: 20rem;
	margin: 0;
	background-color: #fff;
	background-color: var(--color-primary);
}
/* Headings */
h1 {
	font-size: 2rem;
	font-size: var(--font-size-h1);
}
h2 {
	font-size: 1.75rem;
	font-size: var(--font-size-h2);
}
h3 {
	font-size: 1.5rem;
	font-size: var(--font-size-h3);
}
h4 {
	font-size: 1.25rem;
	font-size: var(--font-size-h4);
}
h5 {
	font-size: 1rem;
	font-size: var(--font-size-h5);
}
h6 {
	font-size: 0.75rem;
	font-size: var(--font-size-h6);
}
h1,
h2,
h3,
h4,
h5,
h6 {
	margin-top: 0;
}
h1[class],
h2[class],
h3[class],
h4[class],
h5[class],
h6[class],
h1:last-child,
h2:last-child,
h3:last-child,
h4:last-child,
h5:last-child,
h6:last-child {
	margin-bottom: 0;
}
/* Text */
p,
ul,
ol,
dl,
table,
blockquote {
	margin-top: 0;
}
p:last-child,
ul:last-child,
ol:last-child,
dl:last-child,
table:last-child,
blockquote:last-child {
	margin-bottom: 0;
}
/* Links */
a {
	color: #ef4c23;
	color: var(--color-action);
	text-decoration: underline;
	cursor: pointer;
}
@media ((-ms-high-contrast: none), (-ms-high-contrast: active), (-moz-touch-enabled: 0), (hover)) {
	a:hover {
		text-decoration: none;
	}
}
a[href^='tel'] {
	color: inherit;
	cursor: default;
	text-decoration: none;
	-webkit-appearance: none;
	   -moz-appearance: none;
	        appearance: none;
}
/* Objects */
/* Wrapper */
.o-wrapper {
	min-height: 100vh;
	flex-flow: column nowrap;
	display: flex;
	align-items: stretch;
	justify-content: flex-start;
}
/* Shell */
.o-shell {
	max-width: 75rem;
	max-width: var(--shell-width);
	padding-right: 1rem;
	padding-left: 1rem;
	margin-right: auto;
	margin-left: auto;
}
.o-shell--flex {
	flex-flow: row wrap;
	display: flex;
	align-items: stretch;
	justify-content: space-between;
}
.o-shell--fluid {
	max-width: none;
}
/* Main */
.o-main {
	flex: 1 1;
}
/* Grid */
.o-grid {
	flex-flow: row wrap;
	display: flex;
	align-items: stretch;
	justify-content: space-between;
}
.o-grid__item {
	flex: 0 0 100%;
}
.o-grid__item--1of2 {
	flex: 0 0 50%;
}
.o-grid__item--1of4 {
	flex: 0 0 25%;
}
.o-grid__item--1of3 {
	flex-grow: 0;
	flex-shrink: 0;
	flex-basis: calc(100% / 3);
}
.o-grid__item--2of3 {
	flex: 0 0 66.66667%;
}
.o-grid__item--1of5 {
	flex: 0 0 20%;
}
.o-grid__item--1of6 {
	flex-grow: 0;
	flex-shrink: 0;
	flex-basis: calc(100% / 6);
}
/* Components */
/* Button */
.c-btn {
	text-align: center;
	text-decoration: none;
	display: inline-block;
	vertical-align: middle;
	cursor: pointer;
	-webkit-appearance: none;
	   -moz-appearance: none;
	        appearance: none;
}
.c-btn.disabled,
.c-btn[disabled] {
	cursor: default;
}
.c-btn--block {
	width: 100%;
	display: block;
	padding-left: 0;
	padding-right: 0;
}
/* Lists */
[class^='c-list-'] {
	padding: 0;
	margin: 0;
	list-style: none outside none;
}
/* Utilities */
/* Text Alignment Utilities */
.text-left {
	text-align: left;
}
.text-center {
	text-align: center;
}
.text-right {
	text-align: right;
}
/* Alignment Utilities */
.alignleft {
	float: left;
	margin: 0.3125rem 1.25rem 1.25rem 0;
}
.alignright {
	float: right;
	margin: 0.3125rem 0 1.25rem 1.25rem;
}
.alignnone,
.aligncenter {
	float: none;
}
.alignnone {
	margin: 0.3125rem 0 1.25rem;
}
.aligncenter {
	display: block;
	margin: 0.3125rem auto 1.25rem;
}
/* Hidden Utilities */
.hidden,
[hidden] {
	display: none !important;
}
/* Fullsize Background Utility */
.fullsize-background {
	background-repeat: no-repeat;
	background-position: 50% 50%;
	background-size: cover;
}
/* Responsive Utility Classes */
.visible-xs-block,
.visible-xs-inline,
.visible-xs-inline-block,
.visible-xs-flex,
.visible-xs-inline-flex,
.visible-sm-block,
.visible-sm-inline,
.visible-sm-inline-block,
.visible-sm-flex,
.visible-sm-inline-flex,
.visible-md-block,
.visible-md-inline,
.visible-md-inline-block,
.visible-md-flex,
.visible-md-inline-flex,
.visible-lg-block,
.visible-lg-inline,
.visible-lg-inline-block,
.visible-lg-flex,
.visible-lg-inline-flex {
	display: none !important;
}
@media (max-width: 767px) {
	.hidden-xs {
		display: none !important;
	}

	.visible-xs-block {
		display: block !important;
	}

	.visible-xs-inline {
		display: inline !important;
	}

	.visible-xs-inline-block {
		display: inline-block !important;
	}

	.visible-xs-flex {
		display: flex !important;
	}

	.visible-xs-inline-flex {
		display: inline-flex !important;
	}
}
@media (min-width: 767px) and (max-width: 1023px) {
	.hidden-sm {
		display: none !important;
	}

	.visible-sm-block {
		display: block !important;
	}

	.visible-sm-inline {
		display: inline !important;
	}

	.visible-sm-inline-block {
		display: inline-block !important;
	}

	.visible-sm-flex {
		display: flex !important;
	}

	.visible-sm-inline-flex {
		display: inline-flex !important;
	}
}
@media (min-width: 1023px) and (max-width: 1279px) {
	.hidden-md {
		display: none !important;
	}

	.visible-md-block {
		display: block !important;
	}

	.visible-md-inline {
		display: inline !important;
	}

	.visible-md-inline-block {
		display: inline-block !important;
	}

	.visible-md-flex {
		display: flex !important;
	}

	.visible-md-inline-flex {
		display: inline-flex !important;
	}
}
@media (min-width: 1279px) {
	.hidden-lg {
		display: none !important;
	}

	.visible-lg-block {
		display: block !important;
	}

	.visible-lg-inline {
		display: inline !important;
	}

	.visible-lg-inline-block {
		display: inline-block !important;
	}

	.visible-lg-flex {
		display: flex !important;
	}

	.visible-lg-inline-flex {
		display: inline-flex !important;
	}
}
