/* Flexbox Mixins */

/* prettier-ignore */
@define-mixin flex $align, $justify { /* stylelint-disable-line */
	display: flex;
	align-items: $align;
	justify-content: $justify;
}

/* prettier-ignore */
@define-mixin flex-row $wrap: wrap, $align: stretch, $justify: space-between { /* stylelint-disable-line */
	flex-flow: row $wrap;
	@mixin flex $align, $justify; /* stylelint-disable-line */
}

/* prettier-ignore */
@define-mixin flex-column $wrap: nowrap, $align: stretch, $justify: space-between { /* stylelint-disable-line */
	flex-flow: column $wrap;
	@mixin flex $align, $justify; /* stylelint-disable-line */
}
