.alignleft {
	float: left;
	margin: var(--gap) calc(2 * var(--gap)) calc(2 * var(--gap)) 0;
}

.alignright {
	float: right;
	margin: var(--gap) 0 calc(2 * var(--gap)) calc(2 * var(--gap));
}

.alignnone,
.aligncenter {
	float: none;
}

.alignnone {
	margin: var(--gap) 0 calc(2 * var(--gap));
}

.aligncenter {
	display: block;
	margin: var(--gap) auto calc(2 * var(--gap));
}
