/* Alignment Utilities */
.alignleft {
	float: left;
	margin: 0.3125rem 1.25rem 1.25rem 0;
}

.alignright {
	float: right;
	margin: 0.3125rem 0 1.25rem 1.25rem;
}

.alignnone,
.aligncenter {
	float: none;
}

.alignnone {
	margin: 0.3125rem 0 1.25rem;
}

.aligncenter {
	display: block;
	margin: 0.3125rem auto 1.25rem;
}
