.o-grid {
	@mixin flex-row wrap, stretch, space-between;
	margin: 0 calc(-1 * var(--gap));
}

.o-grid__item {
	flex-grow: 0;
	flex-shrink: 0;
	padding: 0 var(--gap);
}

@media (--xs-up) {
	@mixin grid xs;
}

@media (--sm-up) {
	@mixin grid sm;
}

@media (--md-up) {
	@mixin grid md;
}

@media (--lg-up) {
	@mixin grid lg;
}

@media (--xl-up) {
	@mixin grid xl;
}
