.o-shell {
	max-width: var(--shell-width);
	padding-right: var(--shell-gap);
	padding-left: var(--shell-gap);
	margin-right: auto;
	margin-left: auto;
}

.o-shell--flex {
	@mixin flex-row;
	justify-content: space-between;
}

.o-shell--fluid {
	max-width: none;
}
