/* Document */
html {
	-webkit-tap-highlight-color: color-mod(var(--color-black) alpha(0%));
}

body {
	font-family: var(--font-sans-serif);
	font-size: var(--font-size-base);
	line-height: var(--line-height-base);
	color: var(--color-black);
	min-width: 20rem;
	background-color: var(--color-white);
}
