/* Links */
a {
	color: var(--color-action);
	text-decoration: underline;
	cursor: pointer;
}

@media (--hover) {
	a:hover {
		text-decoration: none;
	}
}

a[href^='tel'] {
	color: inherit;
	cursor: default;
	text-decoration: none;
	appearance: none;
}
